<% if @ads.present? %>
<% @ads.each do |ad| %>
<div class="thumbnail">
	<%= image_tag ad.image.url, width: "400", height: "100" %>
	<p><strong><%= filename(ad.image_file_name) %></strong></p>
	<p><%= ad.created_at %></p>
</div>  
<% end %>
<% else %>
  <p>No Ads</p>
<% end %>
