<div class="panel panel-default">
	<div class="panel-heading">
		Ads
	</div>
	<div class="panel-body text-center">
		<% @ads.each do |ad| %>
		<div class="thumbnail">
			<%= image_tag ad.image.url(:original), width: "400", height: "100" %>
			<p><strong><%= filename(ad.image_file_name) %></strong></p>
		</div> 
		<% end %>
	</div>
</div>
