<%= form_for @ad, remote: true do |f| %>      
<div class="input-group">
	<%= f.file_field :image, required: true, class: 'form-control primary' %>
	<span class="input-group-btn">
		<%= loader_button(f) %>
	</span>
</div>
<% end %>