<div class="panel panel-default text-left">
	<div class="panel-heading">Search Results</div>
	<div class="panel-body">
		<ul>
			<% if users.present? %>
			<% users.each do |user| %>
			<li>
				<%= image_tag user.avatar.url, class: "search-logo" %>
				<%= user_profile_path(user) %>
			</li>
			<% end %>
			<% else %>
			<li>No Users found.</li>
			<% end %>
		</ul>
	</div>
</div>