<%= form_for @comment, url: post_comments_path(post), remote: true do |f| %>      
<div class="input-group">
	<%= f.text_field :comment, class: 'form-control primary', autocomplete: "off", placeholder: "Comment", required: true %>
	<span class="input-group-btn">
		<%= loader_button(f) %>
	</span>
</div>
<% end %>