	<div class="table-responsive">
		<table class="table table-bordered text-center">
			<thead>
				<tr>
					<th class="text-center">Title</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @chatrooms.each do |product| %>
				<tr id="product_<%= product.id %>">
				<td><%= link_to product.name, product, data: {behavior: "chatroom-link", chatroom_id: product.id} %></td>
					<td>
						-
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
