<ul class="notificator">
  <div id="notificationContainer">
    <h4 class="join-notification">Notifications</h4>
    <div id="notificationsBody" class="notifications">
      <ul id="notificationList">
        <%= render notifications %>
      </ul>
    </div>
    <div id="notificationFooter"></div>
  </div>
</ul>