<div class="panel panel-default text-left">
  <div class="panel-heading">
    Following
  </div>
  <div class="panel-body">
    <div class="profile-content">
      <div class="row ">
        <div class="col-md-4 col-sm-6 follower-item">
          <div class="ibox-content text-center">
            <h2 class="text-muted h-name">Barbao Smith</h2>
            <div class="m-b-sm">
              <img alt="image" class="img-circle circle-border" src="https://bootdey.com/img/Content/user_3.jpg">
            </div>
            <p></p>
            <div class="text-center">
              <a class="btn btn-xs btn-default"><i class="fa fa-thumbs-up"></i>  </a>
              <a class="btn btn-xs btn-info"><i class="fa fa-heart"></i> </a>
              <a class="btn btn-xs btn-primary"><i class="fa fa-envelope"></i> </a>
              <a class="btn btn-xs btn-success"><i class="fa fa-phone"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>