<%= form_for @coupon, remote: true do |f| %>      
<div class="input-group">
	<%= f.text_field :percentage, class: 'form-control primary', autocomplete: "off", placeholder: "Percentage", required: true %>
	<span class="input-group-btn">
		<%= loader_button(f) %>
	</span>
</div>
<% end %>
<br />