<% if @coupon.present? %>
  $(".apply-coupon").html("<p>Coupon Applied</p>").css("color", 'green');
  $(".total-amount").html("$<%= current_cart.total %>")
<% else %>
  $(".coupon-error").html("Coupon Already Applied.").css("color", 'red');
<% end %>