<% if @galleries.present? %>
<div class="panel panel-default text-left">
	<div class="panel-heading">
		Gallery
		<%= link_to "Add Gallery", "#", 'data-toggle' => 'modal', 'data-target' => "#Gallery", class: 'btn btn-primary btn-xs pull-right' %>
	</div>
	<div class="panel-body">    
		<div class="user-friend-list">
			<div class="carousel slide" data-ride="carousel" data-type="multi" id="myCarousel">
				<div class="carousel-inner">
					<% @galleries.each_with_index do |gallery, index| %>
					<div class="item <%= index + 1 == 1 ? 'active' : '' %>">
						<div class="col-md-2 col-sm-6 col-xs-12">
							<%= link_to image_tag(gallery.image.url(:original), :id => "image_#{gallery.id}", class: 'img-circle'), "#{gallery.image.url}", :class => 'fancybox', :rel => "gallery" %>
						</div>
					</div>
					<% end %>
				</div>
				<a class="left carousel-control" href="#myCarousel" data-slide="prev">
					<i class="glyphicon glyphicon-chevron-left"></i>
				</a>
				<a class="right carousel-control" href="#myCarousel" data-slide="next">
					<i class="glyphicon glyphicon-chevron-right"></i>
				</a>
			</div>
		</div>
	</div> 
</div>
<% end %>
