/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require jquery.minicolors
 *= require dropzone/dropzone
 *= require fancybox
 */

 body{
 	background: #ddd;
 }

 .jumbotron{margin-bottom: 0;background: #ddd;padding-top: 20px;}

 ul, ol{padding-left: 0;}

 .navbar-form, #posts .panel-body{padding: 0;}

 .interests{
 	line-height: 25px;
 }

 #intrest_notification{font-size: 12px;}

 #invite_btn{margin-top: 10px;}

 .count, .cart-count{
 	border: 1px solid red;
 	color: white;
 	border-radius: 50%;
 	padding: 2px 5px;
 }

 .img-circle{
 	width: 65px;
 	height: 65px;
 }

 .logo img{
 	width: 40px;
 	height: 40px;
 	margin-top: -10px;	
 }

 img, iframe{
 	max-width: 100%;padding: 2px;border: 1px solid lightgray;
 }

 .logo img, .img-circle, .chat-logo, .search-logo{
 	border-radius: 50%;
 }

 p{text-transform: capitalize;}

 .well{background: white;padding: 10px 10px;margin-bottom: 10px;}

 .even, .odd{padding: 10px;margin-bottom: 5px;border-radius: 3px;}

 .even .col-sm-9 p, .odd .col-sm-9 p{text-align: left;font-size: 12px;text-transform: initial;}

 .links{text-align: left;list-style: none;padding-left: 0;}

 .alert{padding: 5px 10px;}

 .links li{display: inline-block;}

 .nav > li > a{padding-right: 5px;}

 .mce-container-body{font-size: 10px;}

 .error-message{
 	list-style: none;
 	color: red;
 	padding-left: 0;
 	line-height: 24px;
 }

 .pagination {
 	background: white;
 	cursor: default;
 	margin-top: -10px; 
 	padding: 5px;
 	border: 1px solid lightgray;
 	border-radius: 4px;	
 	width: 100%;
 }

 #new_ad input[type="file"], .edit_user input[type="file"]{
 	display: none;
 }

 #new_ad label.btn{border-radius: 4px 0px 0px 4px;}

 #new_comment{padding: 5px 10px 10px 10px;}

 #comments{padding: 0 10px;margin-bottom: -5px;}

 #posts .panel-body{margin-bottom: -20px;margin-top: -10px;}

 .comment-logo{width: 20px; border-radius: 50%;}

 .post-form .panel-body{padding-bottom: 0;}

 #user_color{height: 30px;}

.pagination .next_page, .pagination .previous_page {
  padding: 5px 8px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination{margin: -5px 0 0 0;border: none;}

#line_items #quantity{
	height: 22px;
    width: 50px;
}

.product-box{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 15px;
  margin-left: 5px;
  padding: 10px;
}

 hr{
 	margin-top: 10px;
 	margin-bottom: 5px;
 }

 a{outline: none;}

 footer {
 	background-color: #555;
 	padding: 15px 15px;
 	color: white;
 }