.twPc-div {
  background: #fff none repeat scroll 0 0;
  border-radius: 6px;
  margin-bottom: 10px;
}

.twPc-bg {
  height: 95px;
}

.twPc-block {
  display: block !important;
}

.twPc-avatarLink {
  background-color: #fff;
  float: left;
  margin: -30px 5px 0 8px;
  max-width: 100%;
  text-decoration: none;
}

.twPc-avatarImg {
  border: 2px solid #fff;
  height: 72px;
  width: 72px;
}

.twPc-divName {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.twPc-divStats {
  margin: 10px;
  padding: 10px 0;
}
.twPc-Arrange {
  display: table;
  min-width: 100%;
}

.twPc-ArrangeSizeFit {
  display: table-cell;
  cursor: pointer;
}

.twPc-ArrangeSizeFit a{text-decoration: none;}

.twPc-StatLabel {
  font-size: 10px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
}

.ibox-content {
  background-color: #eee;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}

.h-name{
  font-size:20px;    
}

.follower-item{
  margin-top:3px;    
}