<div class="panel panel-default text-left">
	<div class="panel-heading">
		My Events
		<%= link_to "Add Event", new_event_path, remote: true, class: 'btn btn-primary btn-xs pull-right' %>
	</div>
	<div class="panel-body">
		<%= month_calendar(events: @events, attribute: :start_date, end_attribute: :end_date) do |date, meetings| %>
		<% if meetings.present? %>
		<%= link_to date, my_events_events_path(start: meetings.first.start_date, end: meetings.first.end_date), remote: true %>
		<% else %>
		<% date %>
		<% end %>
		<% end %>
		<div id="my_events"></div>
	</div>
</div>