<div class="main-section">
  <div class="row border-chat">
    <div class="col-md-12 col-sm-12 col-xs-12 first-section">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-6 left-first-section">
          <p>Chat</p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 right-first-section">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-chat">
    <div class="col-md-12 col-sm-12 col-xs-12 second-section">
      <div class="chat-section">
        <div id="messages">
          <%= render @messages %>
        </div>
      </div>
    </div>
  </div>
  <div class="row border-chat">
    <div class="col-md-12 col-sm-12 col-xs-12 third-section">
      <%= form_with url: '#', html: {id: 'new-message'} do |f| %>
      <div class="text-bar">
        <%= f.text_field :body, id: 'message-body', placeholder: "Type your message here..." %>
        <button type="submit" class="btn btn-warning btn-sm" id="btn-chat">
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
      </div>
      <% end %>
    </div>
  </div>
</div>