<div class="col-md-12 chatbox">
  <ul id="conversations-list">
    <% @conversations.each do |conversation| %>
    <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
    <% end %>
  </ul>
</div>