<div id="feedback">
	<div id="feedback-form" class="col-xs-4 col-md-4 panel panel-default">
		<%= form_for @feedback, url: feedback_profiles_path(), method: 'POST', class: "form panel-body", remote: true do |f| %>
		<div class="form-group">
			<%= f.text_field :title, class: 'form-control', placeholder: 'Title', required: true %>
		</div>
		<div class="form-group">
			<%= f.text_area :body, class: 'form-control', placeholder: "Please write your feedback here...", rows: 5, required: true %>
		</div>
		<%= loader_button(f) %>
		<% end %>
	</div>
	<div id="feedback-tab">Feedback</div>
</div>