<ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel">
	<div class="request-notification"></div>
	<div class="notifications-wrapper">
		<% @notifications.each do |user| %>
		<a class="content" href="#">
			<div class="notification-item" id="request_<%= user.id %>">
				<h4 class="item-title">
					<%= user.sender.username %>
					<%= link_to "Reject", accept_profile_path(user, message: "Rejected the request", accept: 0), method: :put, remote: true, class: "btn btn-danger btn-xs pull-right" %> 
					<%= link_to "Accept ", accept_profile_path(user, message: "Accepted the request", accept: 2), remote: true, method: :put, class: "btn btn-success btn-xs pull-right" %>
				</h4>
			</div>
		</a>
		<% end %>
	</div>
</ul>
