<div class="col-sm-3">
	<div class="panel panel-default text-center">
		<div class="panel-body">
			<%= analog('Kolkata') %>
		</div>
	</div>
	<div class="panel panel-default text-center">
		<div class="panel-heading">
			Events
		</div>
		<div class="panel-body">		
			<div id="event_calendar"></div>
		</div> 
	</div>
	<div class="panel panel-default text-center">
		<div class="panel-heading">
			Friends
		</div>
		<div class="panel-body">		
			<div class="user-friend-list">
				<%= render partial: '/profiles/user' %>
			</div>
		</div> 
	</div>
	<div id="ads">
		<%= render partial: "/ads/index" %>
	</div>	
</div>
<script>
	$( function() {
		var db_events = [{title: "Lunch at 1pm - 2pm", date: "2018-08-01"}, {title: "Dinner at 8pm - 9pm", date: "2018-08-02"}];

		$( "#event_calendar" ).MEC({
			events: db_events
		});
	} );
</script>