<div class="col-sm-3 well">
	<div class="well">
		<div class="panel-body">
			<div id="intrest_notification"></div>
			<%= form_for @ad, html: {class: 'form-inline'}, remote: true do |f| %>      
			<fieldset>
				<div class="form-group mx-sm-3 mb-2">
					<%= f.file_field :image, class: 'pull-left', required: true %>
					<button type="submit" class="btn btn-default mb-2 pull-right"><span class="fa fa-envelope"></span></button>
				</div>
			</fieldset>
			<% end %>
		</div>
	</div>
	<div class="well">
		<div id="ads">
			<%= render partial: "/ads/index" %>
		</div>
	</div>
	<div class="well">
		<ul>
			<% @users.each do |user| %>
			<li><%= link_to user.email, conversations_path(user_id: user), remote: true, method: :post %></li>
			<% end %>
		</ul>
	</div>  
</div>