<div class="col-sm-3">
	<div class="panel panel-default text-center">
		<div class="panel-body">
			<iframe width="600" height="450" frameborder="0" style="border:0"
 src="https://www.google.com/maps/embed/v1/place?<%= {q: current_user.address, key: 'AIzaSyBuAoC0USIYLC61_v9FuqODJ8Ey2Ci3Kks'}.to_query %>" 
 allowfullscreen></iframe>
		</div>
	</div>
	<div class="panel panel-default text-left">
		<div class="panel-heading">
			Users
		</div>
		<div class="panel-body">		
			<div class="user-friend-list">
				<%= render partial: '/profiles/user' %>
			</div>
		</div> 
	</div>
	<div id="ads">
		<%= render partial: "/ads/index" %>
	</div>	
</div>
<script>
	$(function(){
		$(".datepicker").datepicker({
			dateFormat: "yy-mm-dd"
		});
	})
</script>
