<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default text-left">
      <div class="panel-heading">
        Post
      </div>
      <div class="panel-body">
        <div id="post_notification"></div>
        <%= form_for @post, remote: true do |f| %>
        <%= render partial: "/layouts/errors", locals: {resource: @post} %>
        <fieldset>
          <div class="form-group">
            <%= f.text_area :body, class: 'wysihtml5 form-control' %>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">POST</button>
          </div>
        </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>