<% images = ["/assets/slider1.jpg", "/assets/slider2.jpg", "/assets/slider3.jpg"] %>
<div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
  <div class="carousel-inner">
    <% images.each_with_index do |image, index| %>
    <div class="<%= index == 0 ? 'active' : '' %> item">
      <%= image_tag image %>
    </div>
    <% end %>
  </div>
</div>
